/* Common css */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 300px;
  border: none;
  outline: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  letter-spacing: 0.2px;
}

input:active,
input:focus {
  border-bottom: 1px solid #54b17e;
}

button {
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  background-color: #2d6144;
  color: white;
  letter-spacing: 0.2px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Dashboard */

.dashboard {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-title {
  color: #54b17e;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}
/* Movie-list CSS */

.movie-list > pre {
  margin-bottom: 1rem;
}
.movie-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding: 0.75rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-card img {
  width: 100px;
  height: 120px;
  border-radius: 5px;
}

.movie-card pre {
  text-transform: capitalize;
}

/* Video Player CSS */

.video-player {
  width: 540px;
  height: auto;
  margin-top: 1.5rem;
  border-radius: 5px;
}

/* Register Form CSS */

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px;
  max-width: 100%;
}

.form-row {
  display: flex;
  gap: 2rem;
}

/* login form css */

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px;
  max-width: 100%;
}

.status {
  color: rgb(253, 81, 81);
}

.info {
  color: #cfd1d0;
}

.info-link,
.logged-user {
  color: #54b17e;
  text-decoration: none;
}

/* Movie details */

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.file-input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.file-input label {
  font-size: 13px;
}

/* Nav Dashboard */

.dashboard-nav {
  min-height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.app-title {
  font-weight: 400px;
  font-size: 24px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logout-btn {
  color: rgb(253, 81, 81);
  font-size: 20px;
}

.logged-user {
  text-transform: capitalize;
}

.upload-btn,
.back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.upload-movie {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.back-link {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
  button {
    width: 90px;
    font-size: 12px;
  }

  .login-form,
  .register-form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
    gap: 1rem;
  }

  .dashboard {
    width: 100%;
  }

  .app-title {
    font-size: 20px;
    font-weight: 500;
  }

  .dashboard-nav {
    min-height: 50px;
    margin-bottom: 0.8rem;
  }

  .video-player {
    width: 100%;
  }
}
